# dependencies
/node_modules
*.logs


# misc
.DS_Store

# production
/build

# original json-server database
db.json

# build

/dist


.eslintcache

# config files
/craco.config.js
/tailwind.config.js

/package-lock.json