.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.stickynav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.Menu,
.Quiz,
.EndScreen,
.CheckYourAnswer {
  width: 600px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(66, 96, 143);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 20px;
}

.Title {
  margin-bottom: 80px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  display: flex;
  align-items: center;
}

.Menu button,
.Quiz button,
.EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.Menu,
.Quiz {
  color: white;
}

.options {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 50px;
  margin: 90px;
  border: black;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  gap: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ImgAnime {
  animation: lightbulbmove 2s infinite;
}

@keyframes lightbulbmove {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hidden {
  display: none;
}

@media (orientation: portrait), (max-width: 500px) {
  .hidden {
    display: block;
  }

  .Menu,
  .Quiz,
  .EndScreen,
  .CheckYourAnswer {
    width: 450px;
    height: 550px;
    border-radius: 10px;
    background-color: rgb(66, 96, 143);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
  }
  .Title {
    margin-bottom: 80px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    display: flex;
    align-items: center;
  }
}
