.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* lg:grid lg:grid-cols-2 mx-auto max-w-7xl lg:px-8 lg:gap-8 justify-center */
.About {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 30px;
  margin-bottom: 30px;
}
/* lg:py-24 mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 */
.TitleWithoutPic {
  padding: 25px;
  margin: 50px;
  margin-top: 90px;
  align-content: center;
  justify-content: center;
}

.HeaderText {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  display: flex;
  align-items: left;
  text-align: left;
  flex-direction: column;
  gap: 0.1px;
  letter-spacing: 0.5px;
}

.HeaderText > span {
  color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(141, 62, 197),
    #f388cf,
    rgb(245, 206, 212)
  );
  background-clip: text;
  color: transparent;
}

.TitleWithoutPic > p {
  color: rgb(230, 224, 224);
  font-size: medium;
}

@media (orientation: portrait), (max-width: 600px) {
  .About {
    display: flex;
    flex-direction: column;
  }
  .TitleWithoutPic {
    align-content: center;
    justify-content: center;
    margin: 5px;
    margin-top: 2px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
